* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: larger;
  background-color: #000000;
}

.yumeramenmaindiv {
  max-width: 730px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.hero-header img {
  width: 50%;
  max-width: 500px;
  height: 450px;
  object-fit: cover;
  border: 2px solid #000000;
  margin: 30px auto 0;
}


.hero-header img {
  width: 60%;
  height: 450px;
  object-fit: cover;
  border: 1px solid #000000;
}

.product-info {
  background-color: #f8f9fa;
}

.product-info h5 {
  font-size: 1rem;
  font-weight: 600;
}

.product-info p {
  font-size: 0.95rem;
  color: #666;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.info-container {
  padding: 20px;
}

.info-box {
  padding: 30px;
}