.navbar {
  background-color: #4a4a4a; /* Warmer grey */
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Increase shadow visibility */
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.navbar a.navbar-brand {
  font-size: 2.5rem; /* Larger font size for Yume Ramen */
  font-weight: bold;
  color: white;
  flex-shrink: 0;
}

.navbar a.navbar-link {
  color: white;
}

.navbar a.nav-link {
  color: white !important;
}

.navbar a.nav-link:hover {
  color: #adb5bd; /* Light grey */
}

.navbar-toggler {
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  flex-shrink: 0;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

.navbar-collapse {
  justify-content: flex-end;
  background-color: #4a4a4a;
  margin-top: 0; /* Remove the gap between the header and dropdown */
  border-radius: 8px;
  padding: 1rem;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Increase shadow visibility */
}

.btn-salmon {
  background-color: #fa8072; /* Salmon color */
  color: white;
  border: none;
  border-radius: 15px; /* Bubbly button */
  padding: 0.75rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-salmon:hover {
  background-color: #e76e60; /* Darker salmon on hover */
}
