* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: larger;
  background-color: #888;
}

.yumeramenmaindiv {
  max-width: 730px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
}

#header{
    color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}